section {
    margin: 0 auto;
    width: 1200px;
}


/* 购物车 */

.shopping_car {
    float: right;
    color: #fff;
    line-height: 30px;
    position: relative;
}

.shopping_car i.iconfont {
    font-size: 28px;
}

.goods_list {
    width: 200px;
    background-color: #33394d;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    left: -160px;
    /* display: none; */
}

.goods_list li {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.goods_list li::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.goods_list p {
    float: left;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.goods_list span {
    float: right;
}


/* 购物车 */


/* 搜索标题 */

.search_title {
    width: 100%;
    height: 30px;
    padding-top: 30px;
}

.search_title a {
    font-size: 16px;
    color: #7a80a2;
    margin-right: 60px;
}

a.search_active {
    font-size: 20px;
    color: #b9c0ef;
}


/* 搜索标题 */


/* 搜索条件 */

.game_condition {
    width: 100%;
    padding-top: 40px;
}

.game_condition a {
    font-size: 14px;
    margin-right: 48px;
    color: #7a80a2;
}

a.condition_active {
    color: #b9c0ef;
}


/* 搜索条件 */


/* 搜索列表 */

.search_block {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.search_block::after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

.game_list_box {
    float: left;
    width: 830px;
}

.item_info {
    width: 500px;
}

.item {
    width: 100%;
}

.item li {
    position: relative;
}


/* cart */

.cart {
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 10;
}

.cart:hover {
    color: #ff6900;
}

.cart i.iconfont {
    font-size: 28px;
    line-height: 30px;
}


/* cart */


/* 页码 */

#pagination {
    margin-top: 35px;
}

#pagination a,
#pagination span {
    font-size: 14px;
    display: inline-block;
    padding: 0 5px;
    min-width: 15px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #33394d;
    color: #7a80a2;
    margin-right: 5px;
}

#pagination .jump-ipt {
    width: 44px;
    height: 20px;
    border: 1px solid #7a80a2;
    background: none;
    color: #7a80a2;
    margin: 0 8px;
    text-align: center;
}

#pagination span.active {
    background: #ff6900;
    color: #fff;
    border-color: #ff6900;
}


/* 页码 */


/* 搜索列表 */


/* 搜索条件块 */

.search_condition {
    float: left;
    width: 350px;
    margin-left: 20px;
}

.search-filter-block {
    background: #33394d;
    color: #7a80a2;
}

.search-filter-block h2 {
    font-size: 14px;
    line-height: 45px;
    background: #292e41;
    /* text-indent: 20px; */
    padding-left: 20px;
}

.filter_tags_box {
    padding: 10px 0;
}

.filter_tags_box::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.filter_tags {
    float: left;
    width: 155px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
}

.filter_tags input[type='checkbox'] {
    vertical-align: middle;
    margin: 0;
}


/* 搜索条件块 */