/* banner */

.banner {
    width: 100%;
    height: 420px;
    position: relative;
    overflow: hidden;
}

.banner button {
    background: transparent;
    z-index: 98;
    position: absolute;
    top: 50%;
    margin-top: -27px;
}

.left_btn {
    left: 40px;
}

.right_btn {
    right: 40px;
}

.banner i {
    font-size: 50px;
    color: #7a80a2;
    background: none;
}

.banner ul {
    height: 100%;
    width: 700%;
    white-space: nowrap;
    position: absolute;
    top: 0;
}

.banner li {
    height: 100%;
    float: left;
}

.banner a {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_list {
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -96px;
}

.btn_list span {
    float: left;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: .6;
}

span.btn_active {
    background-color: #ff6900;
    opacity: 1;
}


/* banner */